*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
p,h1,h2,h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

li{
    margin-left: 20px;
}

hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

body{
    background-color: #f2f2f2;
}

header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0px auto;
}

#logotipo{
    width: 60%;
    height: 140px;
    margin: 0 auto;   
}

#logotipo img{
    display: block;
    width: 80px;
    float: left;
    margin-top: 20px;
    padding-right: 6px;
}

#logotipo h1{
    display: block;
    letter-spacing: 2px;
    font-size: 23px;
    padding-top: 49px;
    font-weight: normal;
    color: #42a096;
}

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray;
}

nav ul{
    list-style: none;
    text-decoration: none;
}
nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

nav ul li a:hover{
    background: #42a096;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left:20px solid transparent;
    border-top:10px solid #2b2f30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right:20px solid transparent;
    border-top:10px solid #2b2f30;
    float: right;
}

.relleno-barra{
    display: block;
    width: 1210px;
    background: #2b2f30;
    height: 10px;
    float: left;
}

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
    
}

.box{
    background: white;
    width: 94%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 auto;
}

.box form{
    width: 40%;
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type='text'],
.box form textarea{
    width:100%;
    margin-bottom: 10px;
}

.box form select{
    padding: 5px;
    width: 70px;
}

.box form select:hover{
    cursor: pointer;
}

.form_errors{
    color: red;
}

.mensajes{
    padding: 15px;
    background-color: #3ba875;
    color: white;
    text-align: center;
}

.box form input[type='submit'],
.box form input[type='button'],
.box form button{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background: #3ba875;
    color: white;
}

.box form input[type='submit']:hover,
.box form input[type='button']:hover,
.box form button:hover{
    cursor: pointer;
    background: #277450;
}

.titulo{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer{
    width: 1250px;
    background-color: #1b1e1f;
    border:1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin:0px auto;
}